@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {

  font-family: 'Jost', sans-serif;
}

/* General settings */

.container {
  width: 100%;
  height: auto;
  max-width: 1225px;
  margin: auto;
}

.btn {
  padding: 25px 54px;
  border-radius: 5px;
  background: #D52027;
  justify-content: center;
  text-align: center;
  width: 280px;
  justify-self: center;

  color: #FFF;
  font-family: Jost;
  font-size: 18px;
}

.btn:hover {
  padding: 25px 54px;
  border-radius: 5px;
  background: #5a0d10;
  justify-content: center;
  transition: 400ms ;

  color: #FFF;
  font-family: Jost;
  font-size: 18px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141024;
  padding: 30px 100px;
}

.header__logo {
  color: #FFF;
  font-family: Jost;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 48px */
}

.header__tel {
  color: #FFF;
  text-align: right;
  font-family: Jost;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 48px */ 
}

.header__nav {
  color: #FFF;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}

.header__nav-item {
  color: #fff;
  margin-right: 40px;
}

/* Section Enroll */

.enroll {
  background-color: #141024;
}

.enroll__block {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.enroll__text-block {
  margin-top: 200px;
}

.enroll__title {
  color: #FFF;
  font-family: Jost;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.enroll__subtitle {
  color: #FFF;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  max-width: 478px;
  margin: 20px 0 50px 0;
}

.enroll__img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 783px; */
}

.enroll__img-girl {
  width: 515px;
  height: 917px;
  position: relative;
  right: 0;
  top: 0;
  z-index: 1;
}

.enroll__img-ellipse {
  position: absolute;
}

/* Section Benefits */

.benefits {
  display: flex;
  flex-direction: column;

  background-color: #fff;

  margin: 120px 0;
  /* border-bottom: #000 solid 1px; */
}

.benefits__title {
  color: #141024;
  font-family: Jost;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  max-width: 891px;

  margin-bottom: 60px;

}

.benefits__items {
  display: flex;
}

.benefits__item {
  max-width: 260px;
  max-height: 170px;
  margin-right: 60px;
}

.benefits__item:last-child {
  margin-right: 0;
}

.benefits__item-title {
  color: #D52027;
  font-family: Jost;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 112px */
}

.benefits__item-text {
  color: rgba(20, 16, 36, 0.70);
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

/* Section Slider Trainers */

.trainers {
  margin: 138px 0;
}

.trainers__title {
  color: #141024;
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 80px */
}

.slide-container {
  max-width: 1225px;
  width: 100%;
  background-color: #fff;
  padding: 40px 0;
}

.slide-content {
  padding: 45px 20px;
  margin: 0 40px;
}

.card {
 
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.card-image {
  position: relative;
  width: 360px;
  height: 500px;
  flex-shrink: 0;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.name {
  color: #141024;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 38.4px */
}

.description {
  color: rgba(20, 16, 36, 0.70);
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  text-align: center;
}

.button {
  border: none;
  color: #D52027;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  color: #6f1114;
}

.swiper-navBtn {
  color: black;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: gray;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: black;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: gray;
  opacity: 1;
}

/* Section Subscription */

.subscription {

}

.subscription__title {
  color: #141024;
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 80px */
}

.subscription__list {

}

.subscription__list-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription__list-item {
  width: 360px;
  height: auto;
  border: gray 1px;
  border-radius: 28px;
  margin: 60px 40px;
  padding: 25px;
  border: #D52027 1px solid;
  transition: all 0.3s;
}

.subscription__list-item:hover {
  border-radius: 20px;
  background: #141024;
  border: #141024 1px solid;
}

.subscription__item-title {
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 48px */
}

.subscription__item-cost {
  color: #000;
  justify-content: center;
  text-align: center;
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 80px */
  padding: 63px 70px 20px 70px;
}

.subscription__item-description {
  margin-bottom: 52px;

  height: 58px;
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.subscription__list-item:hover .subscription__item-title {
  color: #fff;
}
.subscription__list-item:hover .subscription__item-cost {
  color: #fff;
}
.subscription__list-item:hover .subscription__item-description {
  color: #fff;
}

.subscription__item-btn {
  padding: 25px 54px;
  border-radius: 5px;
  background: #D52027;
  justify-content: center;
  text-align: center;
  width: 280px;
  justify-self: center;

  color: #FFF;
  font-family: Jost;
  font-size: 18px;
  width: 100%;
}

.subscription__item-btn:hover {
  padding: 25px 54px;
  border-radius: 5px;
  background: #5a0d10;
  justify-content: center;
  transition: 400ms ;

  color: #FFF;
  font-family: Jost;
  font-size: 18px;
}

/* Section Request */

.request {
  background: #D52027;
  margin-top: 60px;
}

.request__block {
  display: flex;
  justify-content: space-between;
  align-items: top;
  height: 460px;
}

.request__text-block {
  width: 476px;
}

.request__title {
  color: #FFF;
  font-family: Jost;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  margin: 106px 0 20px 0;
}

.request__subtitle {
  color: #FFF;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
}

.request__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.request__form {
  width: 500px;
  height: 64px;
  flex-shrink: 0;

  border-radius: 5px;
  background: #F6F6F6;
  margin-bottom: 10px;

  color: rgba(40, 41, 68, 0.70);
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding: 19px 181px 19px 20px;
} 

.request__btn {
  width: 500px;
  height: 64px;
  flex-shrink: 0;

  border-radius: 5px;
  background: #141024;

  color: #FFF;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Footer */

.footer {
  background: #141024;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  height: 159px;
}

.footer__text {

}

.footer__logo {
  color: #FFF;
  font-family: Jost;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 48px */
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.70);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.footer__contact {
  color: #FFF;
  text-align: right;
  font-family: Jost;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 48px */
}